<div class="home-page container is-fluid">
    <div class="home-page__user">
        <p class="user__info"></p>
    </div>
    <div class="home-page__settings">
        <p class="settings__title title">Settings</p>
        <div class="settings__delete-account">
            <div class="notification is-warning">
                coming soon... maybe... or not
            </div>
            <!--<div>-->
                <!--<button class="button" disabled>delete account</button>-->
            <!--</div>-->
        </div>
    </div>
</div>