<div class="modal-window modal"
[ngClass]="{'modal-window--visible':!isHide}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal-window__content card">
            <p class="modal-window__text">{{message}}</p>
            <div class="modal-window__controls">
                <a class="modal-window__button button" (click)="onClick(true)">Save</a>
                <a class="modal-window__button button" (click)="onClick(false)">Leave</a>
            </div>
        </div>
    </div>

    <button class="modal-close" (click)="close()"></button>
</div>
