<div>
    <p class="title">TODO:</p>
    <div class="card-content">
        <div class="todo__add-new-task field has-addons">
            <p class="control">
                <input class="input" type="text" placeholder="Add new task">
            </p>
            <p class="control">
                <a class="button">
                    Add
                </a>
            </p>
        </div>
        <ul>
            <li>
                <div class="columns">
                    <div class="column is-three-quarters">21</div>
                    <div class="column">
                        <button class="delete"></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>