@import '../../../assets/styles/variables';

.todo{
  &__title{
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid $primary-color;
  }
  &__task-list{
    overflow-y: auto;
    max-height: 360px;
    overflow-x: hidden;
  }
}

@media print {
  .todo__add-new-task {
    display: none;
  }
}