<div class="home-page container is-fluid">
    <div class="home-page__user">
        <p class="user__info"></p>
    </div>
    <div class="home-page__settings">
        <p class="settings__title title">Settings</p>
        <div class="settings__theme field">
            <p class="control">
                <label class="radio">
                    <input type="radio" name="theme" value="light" checked>
                    Light theme
                </label>
                <label class="radio">
                    <input type="radio" name="theme" value="dark">
                    Dark theme
                </label>
            </p>
        </div>
        <div class="settings__delete-account">
            <button class="button">delete account</button>
        </div>
    </div>
</div>