<header>
    <nav class="nav">
        <div class="nav-left">
            <a class="nav-item">
                <i class="fa fa-home is-large"></i>
            </a>
        </div>
        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <!--<span class="nav-toggle">-->
                <!--<span></span>-->
                 <!--<span></span>-->
                 <!--<span></span>-->
        <!--</span>-->
        <div class="nav-right nav-menu">
            <span class="nav-item">Greetings, {{user || 'friend'}}!</span>
            <a class="nav-item is-tab is-hidden-mobile" *ngIf="user" routerLink="/calendar">Calendar</a>
            <a class="nav-item is-tab is-hidden-mobile" *ngIf="user" routerLink="/home">Home</a>
            <a class="nav-item is-tab is-hidden-mobile" *ngIf="user" routerLink="/login" (click)="onLogout">Log out</a>

            <a class="nav-item is-tab is-hidden-mobile" *ngIf="!user" routerLink="/login">Sign in</a>
            <a class="nav-item is-tab is-hidden-mobile is-active" *ngIf="!user" routerLink="/registration">Sign up</a>

        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<notification></notification>
