<header class="header">
    <nav class="nav">
        <div class="nav-left">
            <p class="nav-item header__company-name">
                Awesome name
            </p>
            <i class="nav-item header__logo fa fa-angellist" aria-hidden="true"></i>
        </div>
        <div class="nav-right nav-menu">
            <span class="nav-item">Greetings, {{user || 'friend'}}!</span>
            <a class="menu__link nav-item is-tab is-hidden-mobile"
               *ngIf="user"
               routerLinkActive="is-active"
               routerLink="/calendar">Calendar</a>
            <a class="menu__link nav-item is-tab is-hidden-mobile"
               *ngIf="user"
               routerLinkActive="is-active"
               routerLink="/task">Tasks</a>
            <a class="menu__link nav-item is-tab is-hidden-mobile"
               *ngIf="user"
               routerLinkActive="is-active"
               routerLink="/home">Home</a>
            <a class="menu__link nav-item is-tab is-hidden-mobile"
               *ngIf="user"
               routerLink="/login"
               routerLinkActive="is-active"
               (click)="onLogout">Log out</a>

            <a class="menu__link nav-item is-tab is-hidden-mobile"
               *ngIf="!user"
               routerLinkActive="is-active"
               routerLink="/login">Sign in</a>
            <a class="menu__link nav-item is-tab is-hidden-mobile"
               *ngIf="!user"
               routerLinkActive="is-active"
               routerLink="/registration">Sign up</a>

        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<notification></notification>
