<header class="header">
    <nav class="nav">
        <div class="nav-left">
            <p class="nav-item header__company-name">
                Awesome name
            </p>
            <i class="nav-item header__logo fa fa-angellist" aria-hidden="true"></i>
        </div>
        <div class="nav-right nav-menu">
            <span class="nav-item">Greetings, {{user || 'friend'}}!</span>
            <a class="nav-item is-tab is-hidden-mobile" *ngIf="user" routerLink="/calendar">Calendar</a>
            <a class="nav-item is-tab is-hidden-mobile" *ngIf="user" routerLink="/home">Home</a>
            <a class="nav-item is-tab is-hidden-mobile" *ngIf="user" routerLink="/login" (click)="onLogout">Log out</a>

            <a class="nav-item is-tab is-hidden-mobile" *ngIf="!user" routerLink="/login">Sign in</a>
            <a class="nav-item is-tab is-hidden-mobile is-active" *ngIf="!user" routerLink="/registration">Sign up</a>

        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<notification></notification>
