@import 'variables';
@import 'form';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #464451;
}
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small-screen) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $large-screen - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large-screen) { @content; }
  }
}

@media print {
  header, nav, .header, .nav {
    display: none;
  }
}

//
//button {
//  text-transform: uppercase;
//  outline: 0;
//  background: $primary;
//  width: 100%;
//  border: 0;
//  padding: 15px;
//  color: $primary-link;
//  font-size: 14px;
//  cursor: pointer;
//}
//button:hover, button:active, button:focus {
//  background: $primary;
//}





@import "~bulma";