//light theme

$primary-color: #A3C644;
$primary:#d5d5d5;
$primary-bg: #ffffff;
$primary-text: #464547;
$primary-link: #FFFFFF;
$primary-input: #EEEEEE;


//dark theme
$dark-primary:#A3C644;
$dark-bg: #303334;
$dark-text: #FFFFFF;
$dark-link: #EEEEEE;
$dark-input: #d6d6d6;