<div class="calendar">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child card">
                <p class="title">Arrange</p>
                <div class="columns card-content">
                    <div class="column">
                        <p>DAY</p>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="column">
                        <p>WEEK</p>
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="column">
                        <p>MONTH</p>
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="tile is-child card">
                <p class="title">TODO:</p>
                <div class="card-content">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="text" placeholder="Add new task">
                        </p>
                        <p class="control">
                            <a class="button">
                                Add
                            </a>
                        </p>
                    </div>
                    <ul>
                        <li>
                            <div class="columns">
                                <div class="column is-three-quarters">21</div>
                                <div class="column">
                                    <button class="delete"></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child card">
                <div class="date_name">
                    <i class="fa fa-arrow-left"></i>
                    <span class="title">month name</span>
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div class="card-content">
                    <div class="columns">
                        <div class="column day">
                            <span>1</span>
                            <ul>
                                <li>task 1</li>
                            </ul>
                        </div>
                        <div class="column day">1</div>
                        <div class="column day">21</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                    </div>
                    <div class="columns">
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                    </div>
                    <div class="columns">
                        <div class="column day">2</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                    </div>
                    <div class="columns">
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                    </div>
                    <div class="columns">
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                        <div class="column day">1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>